<footer class="fot">
    <div class="secf1">
        <p class="fot__logo">Tap Table</p>
        <p class="fot__policy">Политика конфиденциальности</p>
    </div>
    <div class="secf2">
        <p>Телефон</p>
        <p>+374 96-10-10-17</p>
    </div>
    <div class="secf3">
        <p>Адрес:</p>
        <p>Yerevan, Mashtoc Ave Sarmen 1 str.</p>
    </div>
    <div class="fmodal">
        <h2>Privacy & Policy</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur magnam ipsum sit, possimus reiciendis dolorum architecto animi repudiandae sapiente beatae dicta, nostrum quasi vel cumque nemo. Id ipsa iure consequatur?</p>
    </div>
</footer>