<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebEx1</title>
    <link rel="stylesheet" href="styles/header.css" type="text/css">
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <link rel="shortcut icon" href="../imgs/fav.png" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/atropos@1.0.2/atropos.min.css">
</head>

<body>
    <div class="wrapper">
        <%- include("header") %>
            <main class="main">
                <section class="sec1">
                    <div class="sec1__left animate__animated animate__rotateInDownLeft">
                        <h2>Lorem ipsum</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in convallis odio. Aliquam erat
                            volutpat. Vivamus accumsan interdum eros non dignissim. Vivamus magna sem, lacinia blandit
                            ultricies
                            quis, sagittis in orci. Duis et pulvinar lectus, ut tempus leo. Ut at dui lorem.
                            <br />
                            <br />
                            <br />
                            <br />

                            Lorem ipsum dolor sit amet, consectetur
                        </p>
                        <div class="sec1__brands">
                            <div class="sec1__img-ios">
                                <img src="imgs/ios.png">
                            </div>
                            <div class="sec1__img-apk">
                                <img src="imgs/apk.png">
                            </div>
                        </div>
                    </div>
                    <div class="sec1__right animate__animated animate__rotateInDownRight">
                        <img src="imgs/phones.png" alt="">
                    </div>
                </section>
                <section class="sec2">
                    <h2>О компании</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in convallis odio. Aliquam erat
                        volutpat.
                        Vivamus accumsan interdum eros non dignissim. Vivamus magna sem, lacinia blandit ultricies quis,
                        sagittis in orci. Duis et pulvinar lectus, ut tempus leo. Ut at dui lorem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </section>
                <section class="sec3">
                    <div class="sec3__img">
                        <img src="imgs/section3.png">
                    </div>
                </section>
                <section class="sec4">
                    <h2>Условия сотруднечества</h2>
                    <div class="sec4__squares">
                        <div class="atropos atrop">
                            <div class="atropos-scale">
                                <div class="atropos-rotate">
                                    <div class="atropos-inner">
                                        <div class="sec4__squares-sqrt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in
                                                convallis odio. Aliquam erat
                                                volutpat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="atropos atrop2">
                            <div class="atropos-scale">
                                <div class="atropos-rotate">
                                    <div class="atropos-inner">
                                        <div class="sec4__squares-sqrt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in
                                                convallis odio. Aliquam erat
                                                volutpat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="atropos atrop3">
                            <div class="atropos-scale">
                                <div class="atropos-rotate">
                                    <div class="atropos-inner">
                                        <div class="sec4__squares-sqrt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in
                                                convallis odio. Aliquam erat
                                                volutpat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="atropos atrop4">
                            <div class="atropos-scale">
                                <div class="atropos-rotate">
                                    <div class="atropos-inner">
                                        <div class="sec4__squares-sqrt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in
                                                convallis odio. Aliquam erat
                                                volutpat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="atropos atrop5">
                            <div class="atropos-scale">
                                <div class="atropos-rotate">
                                    <div class="atropos-inner">
                                        <div class="sec4__squares-sqrt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in
                                                convallis odio. Aliquam erat
                                                volutpat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="atropos atrop6">
                            <div class="atropos-scale">
                                <div class="atropos-rotate">
                                    <div class="atropos-inner">
                                        <div class="sec4__squares-sqrt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in
                                                convallis odio. Aliquam erat
                                                volutpat. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <%- include("footer") %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/atropos@1.0.2/atropos.min.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>